@font-face {
    font-family: 'Just Me Again Down Here';
    font-weight: 400;
    src: url(./justmeagaindownhere-regular-webfont.woff2) format('woff2');
  }

.bg-shell{
    background-color: #F9F1EC;
}

.bg-laranja{
    background-color: #D98C53;
}

.bg-pbr{
   background-color: #AE5641 !important; 
}

.bg-verde{
    background-color: #475433 !important;
}

.cor-laranja{
    color: #D98C53;
}

.cor-branco{
    color: #ffff !important;
}

.cor-pbr{
    color: #AE5641;
}

h1, h2, h3, h4, h5, p, button, a{
    font-family: 'Just Me Again Down Here', cursive !important;
}

.rf{
    font-family: Arial, Helvetica, sans-serif !important;
    
    font-size: 1.2rem;
}

h2{

    font-weight: bold;
    font-size: 3.0rem !important;
}

h3{
    font-size: 1.5rem !important;
    font-weight: bold !important;
}

p{
    font-size: 1.80rem;
}

a{
    font-size: 1.50rem !important;
    
}

a:hover{
    background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}

i{
    cursor: pointer;
}




.card-img-top {
    width: 100% !important;
    height: 20vw !important;
    object-fit: cover !important;
}

